<div class="factory-header row">
  <div class="back-icon col-sm-1 col-md-1 col-lg-1">
    <a href="#" class="back-icon-link">
      <img class="back-icon-img" src="/assets/images/chevron_left.svg">
    </a>
  </div>
  <p class="header-name col-sm-8 col-md-8 col-lg-8">Factory Locations</p>
  <p (click)="openContextPanel()" class="filter-icon-link col-sm-3 col-lg-3 col-md-3">
      <img class="filter-icon-img" src="/assets/images/filter.svg"> All
  </p>
</div>
<div class="factory-list-header row">
  <div class="col-sm-3 col-md-3 col-lg-3">STATUS</div>
  <div class="col-sm-4 col-md-4 col-lg-4">LOCATION</div>
  <div class="col-sm-5 col-md-5 col-lg-5">CURRENT PRODUCTION</div>
</div>
<div class="row factory-list-container scrollbar-primary">
<div class="factory-list row odd-row">
  <div class="col-sm-3 col-md-3 col-lg-3 factory-list-status circle red">Normal</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-location">Munich</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-production">Barking system</div>
  <img class="fwd-icon-img col-sm-1 col-md-1 col-lg-1" src="/assets/images/chevron_right.svg">
</div>
<div class="factory-list row">
  <div class="col-sm-3 col-md-3 col-lg-3 factory-list-status circle green">Normal</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-location">Munich</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-production">Barking system</div>
  <img class="fwd-icon-img col-sm-1 col-md-1 col-lg-1" src="/assets/images/chevron_right.svg">
</div>
<div class="factory-list row odd-row">
  <div class="col-sm-3 col-md-3 col-lg-3 factory-list-status circle green">Normal</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-location">Munich</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-production">Barking system</div>
  <img class="fwd-icon-img col-sm-1 col-md-1 col-lg-1" src="/assets/images/chevron_right.svg">
</div>
<div class="factory-list row">
  <div class="col-sm-3 col-md-3 col-lg-3 factory-list-status circle orange">Normal</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-location">Munich</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-production">Barking system</div>
  <img class="fwd-icon-img col-sm-1 col-md-1 col-lg-1" src="/assets/images/chevron_right.svg">
</div>
<div class="factory-list row odd-row">
  <div class="col-sm-3 col-md-3 col-lg-3 factory-list-status circle red">Normal</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-location">Munich</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-production">Barking system</div>
  <img class="fwd-icon-img col-sm-1 col-md-1 col-lg-1" src="/assets/images/chevron_right.svg">
</div>
<div class="factory-list row">
  <div class="col-sm-3 col-md-3 col-lg-3 factory-list-status circle green">Normal</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-location">Munich</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-production">Barking system</div>
  <img class="fwd-icon-img col-sm-1 col-md-1 col-lg-1" src="/assets/images/chevron_right.svg">
</div>
<div class="factory-list row odd-row">
  <div class="col-sm-3 col-md-3 col-lg-3 factory-list-status circle red">Normal</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-location">Munich</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-production">Barking system</div>
  <img class="fwd-icon-img col-sm-1 col-md-1 col-lg-1" src="/assets/images/chevron_right.svg">
</div>
<div class="factory-list row">
  <div class="col-sm-3 col-md-3 col-lg-3 factory-list-status circle orange">Normal</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-location">Munich</div>
  <div class="col-sm-4 col-md-4 col-lg-4 factory-list-production">Barking system</div>
  <img class="fwd-icon-img col-sm-1 col-md-1 col-lg-1" src="/assets/images/chevron_right.svg">
</div>
</div>