<div class="alarms-header row">
    <p class="header-name col-sm-8 col-md-8 col-lg-8">Alarms</p>
    <p (click)="openContextPanel()" class="filter-icon-link col-sm-3 col-md-3 col-lg-3">
        <img class="filter-icon-img" src="/assets/images/filter.svg"> All
    </p>
 </div>
 <div class="row alarms-list-container scrollbar-primary">
    <div class="col-sm-12 col-md-12 col-lg-12">
       <div class="alarms-list row" (click)="openAlertsPanel()">
          <div class="alert-item-header row triangle-orange">
            <p class="alert-item-header-text">Value above maximum</p>
          </div>
          <div class="alert-item row">
             <div class="alerts-details col-sm-8 col-md-8 col-lg-8">
                <span class="alerts-details1">Beijing</span>
                <span>, </span>
                <span class="alerts-details2">Production Line 1</span>
                <span>, </span>
                <span class="alerts-details3">Assembly</span>
                <span>, </span>
                <span class="alerts-details4">Pressure</span>
             </div>
             <div class="alert-time col-sm-4 col-md-4 col-lg-4">7:25 AM-5/31/2018</div>
          </div>
       </div>
       <div class="alarms-list odd-row row">
          <div class="alert-item-header row triangle-orange">
              <p class="alert-item-header-text">Value above maximum</p>
            </div>
          <div class="alert-item row">
             <div class="alerts-details col-sm-8 col-md-8 col-lg-8">
                <span class="alerts-details1">Beijing</span>
                <span>, </span>
                <span class="alerts-details2">Production Line 1</span>
                <span>, </span>
                <span class="alerts-details3">Assembly</span>
                <span>, </span>
                <span class="alerts-details4">Pressure</span>
             </div>
             <div class="alert-time col-sm-4 col-md-4 col-lg-4">7:25 AM-5/31/2018</div>
          </div>
       </div>
       <div class="alarms-list row">
          <div class="alert-item-header row triangle-orange">
              <p class="alert-item-header-text">Value above maximum</p>
            </div>
          <div class="alert-item row">
             <div class="alerts-details col-sm-8 col-md-8 col-lg-8">
                <span class="alerts-details1">Beijing</span>
                <span>, </span>
                <span class="alerts-details2">Production Line 1</span>
                <span>, </span>
                <span class="alerts-details3">Assembly</span>
                <span>, </span>
                <span class="alerts-details4">Pressure</span>
             </div>
             <div class="alert-time col-sm-4 col-md-4 col-lg-4">7:25 AM-5/31/2018</div>
          </div>
       </div>
       <div class="alarms-list odd-row row">
          <div class="alert-item-header row triangle-orange">
              <p class="alert-item-header-text">Value above maximum</p>
            </div>
          <div class="alert-item row">
             <div class="alerts-details col-sm-8 col-md-8 col-lg-8">
                <span class="alerts-details1">Beijing</span>
                <span>, </span>
                <span class="alerts-details2">Production Line 1</span>
                <span>, </span>
                <span class="alerts-details3">Assembly</span>
                <span>, </span>
                <span class="alerts-details4">Pressure</span>
             </div>
             <div class="alert-time col-sm-4 col-md-4 col-lg-4">7:25 AM-5/31/2018</div>
          </div>
       </div>
       <div class="alarms-list row">
          <div class="alert-item-header row triangle-orange">
              <p class="alert-item-header-text">Value above maximum</p>
            </div>
          <div class="alert-item row">
             <div class="alerts-details col-sm-8 col-md-8 col-lg-8">
                <span class="alerts-details1">Beijing</span>
                <span>, </span>
                <span class="alerts-details2">Production Line 1</span>
                <span>, </span>
                <span class="alerts-details3">Assembly</span>
                <span>, </span>
                <span class="alerts-details4">Pressure</span>
             </div>
             <div class="alert-time col-sm-4 col-md-4 col-lg-4">7:25 AM-5/31/2018</div>
          </div>
       </div>
       <div class="alarms-list odd-row row">
          <div class="alert-item-header row triangle-orange">
              <p class="alert-item-header-text">Value above maximum</p>
            </div>
          <div class="alert-item row">
             <div class="alerts-details col-sm-8 col-md-8 col-lg-8">
                <span class="alerts-details1">Beijing</span>
                <span>, </span>
                <span class="alerts-details2">Production Line 1</span>
                <span>, </span>
                <span class="alerts-details3">Assembly</span>
                <span>, </span>
                <span class="alerts-details4">Pressure</span>
             </div>
             <div class="alert-time col-sm-4 col-md-4 col-lg-4">7:25 AM-5/31/2018</div>
          </div>
       </div>
    </div>
 </div>