<div class="contextpanelfilter">
    <div class="contextpanelfilter-header">
      <div class="contextpanelfilter-header-title">Filter</div>
      <p class="closebtn">
        <img (click)="closeContextPanelFilter()" class="contextpanelfilter-cancel-icon" src="/assets/images/cancel.svg">
      </p>
    </div>
      
        <div class="contextpanelfilter-list-container">
            <p class="contextpanelfilter-select-list-label">Alert cause</p>
            <div>
                <select id="alertSelector0" class="selectpicker form-control" data-live-search="true" data-size="10" tabindex="-98">
                  <option selected="" value="empty">All</option>
                </select>
            </div>
            <p class="contextpanelfilter-select-list-label">Location</p>
            <div>
                <select id="alertSelector0" class="selectpicker form-control" data-live-search="true" data-size="10" tabindex="-98">
                  <option selected="" value="empty">All</option>
                </select>
            </div>
            <p class="contextpanelfilter-select-list-label">Production line</p>
            <div>
                <select id="alertSelector0" class="selectpicker form-control" data-live-search="true" data-size="10" tabindex="-98">
                  <option selected="" value="empty">All</option>
                </select>
            </div>
            <p class="contextpanelfilter-select-list-label">Station</p>
            <div>
                <select id="alertSelector0" class="selectpicker form-control" data-live-search="true" data-size="10" tabindex="-98">
                  <option selected="" value="empty">All</option>
                </select>
            </div>
            <p class="contextpanelfilter-select-list-label">Node</p>
            <div>
                <select id="alertSelector0" class="selectpicker form-control" data-live-search="true" data-size="10" tabindex="-98">
                  <option selected="" value="empty">All</option>
                </select>
            </div>
        </div>
        
    <div class="contextpanelfilter-select-filter-alert-button">
        <input class="btn btn-default btn-contextpanelfilter" type="submit" value="Apply">
        <input class="btn btn-default btn-contextpanelfilter" type="submit" value="Clear">
    </div>
</div>